<h3>Latest posts</h3>
<table class="table">
<tr>
    <th>Votes</th>
    <th>Title</th>
    <th>User</th>
    <th>Posted</th>
    <th>Comments</th>
</tr>
<% if @posts.any? %>
    <% @posts.each do |post| %>
        <tr>
            <td><%= link_to '<i class="glyphicon glyphicon-thumbs-up"></i>'.html_safe, post_votes_path(post), method: "post" %> <%= post.votes.length %></td>
            <td><%= link_to post.title,post.link, :target=>'_blank' %></td>
            <td><%= post.user ? post.user.name : 'Unknown' %></td>
            <td><%= format_creation_time post %></td>
            <td><%= link_to "Comment", post_comments_path(post), :class => "btn btn-danger btn-sm" %></td>
        </tr>
    <% end %>
<% else %>
    <tr>
        <td>No posts</td>
    </tr>
<% end %>

<!-- next to the post add the post.votes.length HERE -->

